/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.container {
  padding: 1rem;
  margin: 1rem;
}

.bordered {
  border: 1px solid red;
}

.edit-box {
  width: 40%;
  height: 200px;
}

.valid {
  background-color: rgb(244,255,244);
}

.invalid {
  background-color: rgb(255,244,244);
}
